* {
  background-color: rgba(235, 255, 254, 0.884);
  font-family: Comfortaa;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");


.note {
  border: 2px solid red;
  border-radius: 4px;
}

.logoutbtn {
  padding: 5px;
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 5px;
  width: 100px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.navBar {
  text-align: center;
  font-family: Comfortaa;
  background-color: white;
  padding: 20px;
  font-weight: 900;
  font-size: 25px;
}

.navBar :hover{
  color: darkgrey;
}

.loginContainer .appName {
  font-size: 50px;
}

.loginContainer {
  text-align: center;
  font-family: Comfortaa;
  margin-top: 200px;
  font-size: 20px;
}
.loginButton {
  margin-top: 25px;
  border-radius: 8px;
  background-color: white;
  font-family: Comfortaa;
  padding: 8px 8px;
  font-weight: 900;
  font-size: 18px;
}
input {
  background-color: white;
}
.signup {
  font-family: Comfortaa;
  padding: 8px 8px;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
}

.welcome {
  text-align: center;
  margin-top: 50px;
}

.lettering {
  color: rgb(102, 102, 102);
  
  text-shadow: 2px 2px rgb(219, 219, 219);
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.cardIndv {
  border: 5px solid;
  border-color: lightgray;
  padding: 5px;
  width: 500px;
  margin: 1em;
  line-height: 1.2;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 400px
}

.cardIndv :hover{
  transform: translateY(-2px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  cursor: pointer;
}

.patientForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.patientForm label {
  display: block;
  position: relative;

}
.patientForm input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 7px 
}
.formSubmit {
  width: 200px
}

.ms select {
  background-color: white;
  font-size: 15px;
  /* margin-left: 20px; */
  width: 208px;
  border-radius: 7px;
  border-width: 2px;
  
}

.ms {
  margin-bottom: 30px;
} 

.patientForm .submitBtn {
  margin-top: 25px;
  border-radius: 8px;
  background-color: white;
  font-family: Comfortaa;
  /* padding: 8px 8px; */
  font-weight: 900;
  font-size: 18px;
  width: 100px;
  margin-left: 50px
}


.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  line-height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.signup input{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 300px;
  border-color: black;
  border-radius: 4px;
  

}

.signup input:hover {
  
  border-color: blue;
}

.signup label{
  text-align: center;
  margin: 5px 10px 5px 0;

  display: block;
  position: relative
}

.signup button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 100px;

}

.signup button:hover {
  background-color: royalblue;
}

.signupNav{
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.signupNav :hover{
  color: darkgrey;
}

.noteDiv{
  text-align: center;
}

.notes{
  width: 60%;
  min-height: 5px;
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: white;

}


.notebtn{
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 90px;
  
  
 }

 .notebtn button:hover {
  background-color: royalblue;
}

.createdNotes{
  line-height: 30px;
}

.noteDiv button{

  border-radius: 8px;
  background-color: white;
  font-family: Comfortaa;
  font-weight: 900;
  font-size: 15px;
  width: 80px;
  margin-left: 30px;
  margin-right: 30px;
  
}
