* {
  background-color: rgba(235, 255, 254, 0.884);
  font-family: Comfortaa;
}

.note {
  border: 2px solid red;
  border-radius: 4px;
}

.logoutbtn {
  padding: 5px;
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 5px;
  width: 100px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}


.navBar {
  text-align: center;
  font-family: Comfortaa;
  background-color: white;
  padding: 20px;
  font-weight: 900;
  font-size: 25px;
}

.navBar :hover{
  color: darkgrey;
}


.loginContainer .appName {
  font-size: 50px;
}

.loginContainer {
  text-align: center;
  font-family: Comfortaa;
  margin-top: 200px;
  font-size: 20px;
}
.loginButton {
  margin-top: 25px;
  border-radius: 8px;
  background-color: white;
  font-family: Comfortaa;
  padding: 8px 8px;
  font-weight: 900;
  font-size: 18px;
}
input {
  background-color: white;
}
.signup {
  font-family: Comfortaa;
  padding: 8px 8px;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
}

.welcome {
  text-align: center;
  margin-top: 50px;

  
}
.lettering {
  color: rgb(102, 102, 102);
  
  text-shadow: 2px 2px rgb(219, 219, 219);
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.cardIndv {
  border: 5px solid;
  border-color: lightgray;
  padding: 5px;
  width: 500px;
  margin: 1em;
  line-height: 1.2;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer :hover{

  transform: translateY(-2px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  cursor: pointer;

}




.ms .patientForm input {
  flex-flow: row wrap;
}
.ms select {
  position: fixed;
  text-align: center;
  background-color: white;
  font-family: Comfortaa;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 3px;
}
.ms {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  line-height: 50px;
}
.patientForm .submitBtn {
  margin-top: 25px;
  border-radius: 8px;
  background-color: white;
  font-family: Comfortaa;
  padding: 8px 8px;
  font-weight: 900;
  font-size: 18px;
  width: 100px;
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  line-height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.signup input{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 300px;
  border-color: black;
  

}

.signup input:hover {
  
  border-color: blue;
}

.signup label{
  text-align: center;
  margin: 5px 10px 5px 0;

  display: block;
  position: relative
}

.signup button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  margin-top: 50px;

}

.signup button:hover {
  background-color: royalblue;
}

.singupNav{
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.singupNav :hover{
  color: darkgrey;
}






@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
